body {
    background-color: aquamarine;
}

.purple-box {
    background-color: rebeccapurple;
}

.blue-box {
    background-color: royalblue;
}

/* this is designing for mobile first */
p {
    margin-left: 5%;
    margin-right: 5%;
}


/* this is for desktop */
@media only screen and (min-width: 600px) {
    p {
        margin-left: 25%;
        margin-right: 25%;
    }

}
@media only screen and (max-width: 800px) {
    body {
        background-color: cornflowerblue;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: burlywood;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-color: pink;
    }
}

